@import "tailwindcss";

:root {
  --background: #fff1db;
  --foreground: #333; 

  --main-green: #b9c49f;
  --main-tan: #e8e1d1;

  --side-padding: 10%;
}

.sticky-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.sticky-bottom {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}
