@import "tailwindcss";

:root {
  --background: #fff1db;
  --foreground: #333; 

  --main-green: #b9c49f;
  --main-tan: #e8e1d1;

  --bone: var(--main-tan);
  --dry-sage: var(--main-green);
  --smoky-rose: #8A685F;
  --dusty-olive: #68744c;

  --side-padding: 10%;
}

html, body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body {
  font-family: 'Kanit', sans-serif;
}

.sticky-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.sticky-bottom {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}
